@use 'variables';
@import "~antd/dist/antd.css";

// antd customization

.ant-image {
    overflow: hidden !important;
    padding: 4px;
}

.ant-image img {
    //width: 100% !important;
    //margin: auto auto !important;
    object-fit: cover !important;
    //float: left;
}

.ant-btn {
    color: variables.$base-link-color !important;
    border-color: variables.$base-link-color !important;
}

.ant-btn:focus, .ant-btn:hover {
    color: variables.$base-active-link-color !important;
    border-color: variables.$base-active-link-color !important;
}

// main changes
.gallery-wrapper {
    margin: 0 7vw;
    height: 100vh;
    justify-content: center;
}

/*
.gallery-item {
    transition: transform 0.25s ease;
}

.gallery-item:hover {
    transform: scale(1.1);
}*/