@use 'variables';
@import "~antd/dist/antd.css";

// antd customization
.ant-layout {
    background-color: variables.$base-background-color !important;
}

a {
    color: variables.$base-link-color !important;
}

a:hover {
    color: variables.$base-text-color !important;
}

// main changes start here
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: variables.$base-background-color !important;
    color: variables.$base-text-color !important;
    font-family: variables.$base-font;
    font-weight: variables.$regular;
}

.header-wrapper {
    margin: 0 variables.$header-left-right-margin;
    height: variables.$header-height;
}

.header-row {
    height: 100%;
    font-weight: variables.$light;
}

.header-column {
    font-size: variables.$header-base-font-size;
}

.header-column-logo {
    font-size: variables.$header-logo-font-size;
    font-weight: variables.$bold;
}

.square-logo-wrapper {
}

.square-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: variables.$header-square-width;
    height: variables.$header-square-height;
    border: 6px solid variables.$base-text-color;
    transition: transform 1s ease;
}

.square-logo-wrapper:hover .square-logo {
    transform: rotate(variables.$rotation-degrees);
}

.square-logo-text {
    text-align: center;
    transition: transform 1s ease;
}

.square-logo-wrapper:hover .square-logo-text {
    transform: rotate(- variables.$rotation-degrees);
}

.active-navlink {
    color: variables.$base-text-color !important;
}