//font variables
$base-font: Roboto;

//font weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

//color variables
$base-text-color: #fff;
$base-background-color: #1d1d1d;
$base-link-color: #a9a8a8;

// animations
$rotation-degrees: 135deg;

// size variables
$header-left-right-margin: 8.33vh;
$header-height: 17.314814814814813vh;

$header-base-font-size: 1vw;
$header-logo-font-size: 1.5vw;

$header-square-width: 8.53125vh;
$header-square-height: 8.53125vh; // 4.798828125vw;