//font variables
$base-font: Roboto;

//font weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

//color variables
$base-text-color: #fff;
$base-background-color: #1d1d1d;

// animation
$rotation-degrees: 135deg;