@use 'variables';

.App {
    text-align: center;
}

html {
    --antd-wave-shadow-color: variables.$base-text-color !important;
}

* {
    margin: 0;
    padding: 0;
}

html {
    --antd-wave-shadow-color: variables.$base-text-color !important;
}


body {

}

::-moz-selection {
    color: variables.$base-background-color !important;
    background: variables.$base-text-color !important;
}

::selection {
    color: variables.$base-background-color !important;
    background: variables.$base-text-color !important;
}